<% provide(:title, "About") %>

<div class="jumbotron opaque"
<h1>About</h1>

<p>Lang specializes in bridging the gap between language by providing clients and translators with a platform where they can meet, interact, and conduct business with ease, comfort, and even more ease.</p>
</div>
