<% provide(:title, "About") %>

<h1>About</h1>

<p>Here at Lang we specialize in bridging the gap between language by providing clients and translators with a platform where they can meet, interact, and conduct business with ease, comfort, and even more ease.</p>
<small>Message endorsed by Barack Obama</small> 