<% provide(:title, "Help") %>

<div class="jumbotron opaque">

	<h1>Help</h1>
	<p>Lang is a simple, yet powerful communications platform which aims to bring translators and clients together.</p>
	<p>

	<p> To start using Lang: </p>
	<ul>
		<li>Register to the site by clicking on the "Sign Up Now!" button, or the check mark icon under "Get Started!"</li>
		<li>Once registered, you can view users' requests you'd like to fulfill by click on the User link on the navigation bar. You may also post a request of your own conviently through your profile page.</li>
		<li> If you find a request you'd liek to fulfill, contact the person via private messaging where you can establish all kinds of negotiations and guidelines for the job to be done.</li>
		<li>When all is said and done, and you both had a great experience, why not watch the user to follow their future requests on your "Request Watchlist"? It's a sure way to stay on the loop of your favorite users!</li>
	</ul>


</div>
