<% @user ||= current_user %>
<div class="stats">
  <a href="<%= watching_user_path(@user) %>">
    <strong id="watching" class="stat">
    <%= @user.watching.count %>
    </strong>
    watching
  </a>
  <a href="<%= watchers_user_path(@user) %>">
    <strong id="watchers" class="stat">
    <%= @user.watchers.count %>
    </strong>
    watchers
  </a>
</div>